@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: "Poppins";
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #000000;
  color: white;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 45px;
  align-items: center;
  padding: 16px 32px;
  border-bottom: 100px;
}

nav a {
  color: white;
  text-decoration: none;
}

.navContentHome {
  text-decoration: none;
}